*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
<<<<<<< HEAD
    background: #343434;
    color: rgb(255, 236, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
=======
    background: tomato;
    
>>>>>>> 7b52c731bbf8d7e52a6e1cf214c79635dc8b773a
}

img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}